<app-confirm [message]="confirmMessage" [show]="showConfirm" (confirmed)="onConfirmDelete()"
    (cancelled)="onCancelConfirm()">
</app-confirm>

<app-alert [message]="alertMessage" [type]="alertType" [show]="showAlert" (closed)="onAlertClosed()">
</app-alert>

<div class="header">
    <button class="add-btn" (click)="openModal()">+ Add Job</button>
</div>

<!-- Modal -->
<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <h2>{{ isEditMode ? 'Edit Job' : 'Add New Job' }}</h2>
        <div class="form-scroll-area">
            <form #jobFormEl="ngForm">

                <label for="title">Title</label>
                <input id="title" type="text" [(ngModel)]="jobForm.title" name="title" placeholder="Title" required />

                <label for="employerName">Employer Name</label>
                <input id="employerName" type="text" [(ngModel)]="jobForm.employerName" name="employerName"
                    placeholder="Employer Name" required />

                <label for="domain">Domain</label>
                <select id="domain" [(ngModel)]="jobForm.domain" name="domain" required>
                    <option value="">Select domain</option>
                    <option value="Technology & IT">Technology & IT</option>
                    <option value="Sales & Marketing">Sales & Marketing</option>
                    <option value="Business & Management">Business & Management</option>
                    <option value="Finance & Accounting">Finance & Accounting</option>
                    <option value="Human Resources & Recruitment">Human Resources & Recruitment</option>
                    <option value="Healthcare & Life Sciences">Healthcare & Life Sciences</option>
                    <option value="Education & Training">Education & Training</option>
                    <option value="Engineering & Manufacturing">Engineering & Manufacturing</option>
                    <option value="Creative & Design">Creative & Design</option>
                    <option value="Legal & Compliance">Legal & Compliance</option>
                    <option value="Media & Communication">Media & Communication</option>
                    <option value="Logistics & Supply Chain">Logistics & Supply Chain</option>
                    <option value="Customer Service & Support">Customer Service & Support</option>
                </select>

                <label for="overview">Overview</label>
                <input id="overview" type="text" [(ngModel)]="jobForm.description.overview" name="overview"
                    placeholder="Overview" required />

                <label for="company">Company</label>
                <input id="company" type="text" [(ngModel)]="jobForm.company" name="company" placeholder="Company"
                    required />

                <label for="location">Location</label>
                <input id="location" type="text" [(ngModel)]="jobForm.location" name="location" placeholder="Location"
                    required />

                <label for="salary">Salary (in LPA)</label>
                <input id="salary" [(ngModel)]="jobForm.salary" name="salary" type="number" min="0"
                    placeholder="Enter salary (in LPA)" required />

                <label for="type">Job Type</label>
                <select id="type" type="text" [(ngModel)]="jobForm.type" name="type">
                    <option value="">All</option>
                    <option value="Full-Time">Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                    <option value="Internship">Internship</option>
                    <option value="Remote">Remote</option>
                    required />
                </select>
                <label for="experience">Experience (in years)</label>
                <input id="experience" type="number" [(ngModel)]="jobForm.experience" name="experience"
                    placeholder="Experience" min="0" />

                <label for="vacancies">Number of Vacancies</label>
                <input id="vacancies" [(ngModel)]="jobForm.vacancies" name="vacancies" type="number" min="0"
                    placeholder="Enter number of vacancies" required />

                <label for="status">Status</label>
                <select id="status" [(ngModel)]="jobForm.status" name="status" required>
                    <option value="open">Open</option>
                    <option value="close">Close</option>
                </select>

                <label for="responsibilities">Responsibilities</label>
                <input id="responsibilities" type="text" [ngModel]="fromArray(jobForm.description.responsibilities)"
                    (ngModelChange)="jobForm.description.responsibilities = toArray($event)" name="responsibilities"
                    placeholder="Responsibilities (comma separated)" />

                <label for="requiredSkills">Required Skills</label>
                <input id="requiredSkills" type="text" [ngModel]="fromArray(jobForm.description.requiredSkills)"
                    (ngModelChange)="jobForm.description.requiredSkills = toArray($event)" name="requiredSkills"
                    placeholder="Required Skills (comma separated)" />

                <label for="preferredSkills">Preferred Skills</label>
                <input id="preferredSkills" type="text" [ngModel]="fromArray(jobForm.description.preferredSkills)"
                    (ngModelChange)="jobForm.description.preferredSkills = toArray($event)" name="preferredSkills"
                    placeholder="Preferred Skills (comma separated)" />

                <label for="whatWeOffer">What We Offer</label>
                <input id="whatWeOffer" type="text" [ngModel]="fromArray(jobForm.description.whatWeOffer)"
                    (ngModelChange)="jobForm.description.whatWeOffer = toArray($event)" name="whatWeOffer"
                    placeholder="What We Offer (comma separated)" />
            </form>
        </div>
        <div class="modal-actions">
            <button type="button" class="submit-btn"  (click)="handleFormSubmit(jobFormEl)">{{ isEditMode ? 'Update' : 'Create' }}</button>
            <button type="button" class="cancel-btn" (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>

<div class="spinner-container" *ngIf="loading">
    <div class="spinner"></div>
    <div class="loading-text">Loading job listings...</div>
</div>

<!-- Job List -->
<div class="job-list">
    <div class="job-tile" *ngFor="let job of jobs">
        <h3>{{ job.title }}</h3>
        <p><strong>Company:</strong> {{ job.company }}</p>
        <p><strong>Location:</strong> {{ job.location }}</p>
        <p><strong>Salary:</strong> ₹{{ job.salary }} LPA</p>
        <p><strong>Type:</strong> {{ job.type }}</p>
        <p><strong>Status:</strong> {{ job.status }}</p>
        <div class="actions">
            <button class="edit-btn" (click)="openModal(job)">Edit</button>
            <button class="delete-btn" (click)="deleteJob(job._id!)">Delete</button>
        </div>
    </div>
</div>

<!-- No jobs -->
<div *ngIf="!loading && jobs.length === 0" class="no-jobs-found">
    No job listings found.
</div>