.accepted {
  color: #28a745;
  font-weight: bold;
}

.rejected {
  color: #dc3545;
  font-weight: bold;
}

.in-progress {
  color: #ffc107;
  font-weight: bold;
}

.job-title {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.btn-white {
  color: #ffffff;
  /* Bootstrap primary */
  border: none;
}

.btn-white:hover {
  background-color: #f8f9fa;
  /* Light hover effect */
  color: #0a66c2;
}

.notification-panel {
  width: 280px;
  z-index: 9999;
}

@media (min-width: 992px) {
  .notification-panel {
    width: 400px;
  }
}